/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1040px;
}



/*********************
HEADER STYLES
*********************/

.header {}

	a.logo {
		img.logo-d{
			display: block;
			position: relative;
			margin: 0 auto;
			top: 30px;
		}
	}
.top-menu{
	right: 0;
}

.primary-menu{
	margin-top: 35px;
	width: 695px;
	li {
		a {
			font-size: 20px;

			&:hover, &:focus {
				color: $green;
				border-bottom: 3px solid #ff1a25;
				@include rounded(5px);
				padding-bottom: 5px;
				background: rgba(0,0,0,.05);
			}

			&:active{
				background: rgba(0,0,0,.02);
				@include rounded(5px);
			}
		}
	}
} /* end .nav */